<!-- login.ejs -->


<div class="form-container">
<h2>Welcome Back!</h2>
<p>Log in to access your account.</p>


<form method="post" action="/login">
  <!-- Add your login form fields here -->
  <input type="email" id="email" name="email" required placeholder="Enter Email">

  <input type="password" id="password" name="password" required placeholder="Enter Your Password">

  <button type="submit">Login</button>
  <span class="register">Not a member? <a href="/register">Signup Here</a></span>
</form>
</div>